/* -------------------------------------------------------------------------- */
/* ARTICLE CONTENT MODAL*/
/* -------------------------------------------------------------------------- */
#container {
	display:flex;
	justify-content: center;
}

#article {
	max-width:980px;
	padding:10px;

	flex-grow:1;

	text-align:left;
	background-color:white;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	border:1px solid black;
}

#notification {
	visibility: hidden;
	background-color: white;
	width:300px;
	max-height:100%;
	padding:10px;
	margin-right: 20px;
	border:1px solid black;
}

#notification>span {
	border:1px solid grey;
	cursor:pointer;
	display:inline-block;
	padding:3px;
	text-align: center;
}

#annotation {
	border:1px solid black;
	visibility: hidden;
	background-color: white;
	width:300px;
	max-height:90%;
	padding:10px;
	margin-left: 20px;
	z-index: 2;
	text-align: left;
	overflow-y: scroll;
}

#article>#header {
	padding:10px;
	background-color: yellow;
	border:1px solid black;
}

#article>#header>#title {
	font-size:1.25em;
}

#article>#header>#author {
}

#article>#header>#publish_date {

}

#article>#content {
	padding:10px;
}

#article>#people {
	padding: 7px;
	border:1px solid grey;
}

#article>#people>.name {
	padding:2px;
	border:1px solid lightgrey;
	display:inline-block;
	margin: 1px;
}

#article>#footer {
	padding: 10px;
}

#article>#footer>#id {

}

#article>#footer>#source {

}

#article>#footer>#link {

}

.loader {
	margin-left:auto;
	margin-right:auto;
	vertical-align: middle;
	border: 5px solid #f3f3f3; /* Light grey */
	border-top: 5px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


/* -------------------------------------------------------------------------- */
/* ANNOTATION */
/* -------------------------------------------------------------------------- */
x-remove {
	margin-left: 3px;
	cursor:pointer;
	color:red;
}

x-annotate {
	background-color: #fff2cc;
	cursor:pointer;
}

div .summary {
	max-height:100px;
	padding:10px;
	border: 1px solid black;
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.25);
	overflow-y:scroll;
}
