/* mixins */
@mixin fade-in($time,$delay) {
	opacity:0;
	animation: fade-enter $time ease-out $delay 1 normal forwards;
}

@mixin pop-in( $time, $delay ){
	opacity:0;
	transform: scale(0.2);

	animation: pop-enter $time ease-out $delay 1 forwards;
}

@font-face {
    font-family: 'Open Sans';
	src:url('/static/font/sans/opensans-regular.woff2') format('woff2'),
		url('/static/font/sans/opensans-regular.woff') format('woff'),
    	url('/static/font/sans/opensans-regular.ttf') format('truetype'),
    	url('/static/font/sans/opensans-regular.eot') format('embedded-opentype');
}

/* mobile breakpoints */
$mobile_width:500px;

body {
	padding:0;
	margin:0;
	font-family:'Open Sans',
				-apple-system,
			 	BlinkMacSystemFont,
			 	"Segoe UI",
			 	Roboto,
			 	Oxygen-Sans,
			 	Ubuntu,
			 	Cantarell,
			 	"Helvetica Neue",
			 	sans-serif;

	background-color: #faf8f6;
}

.noscript-notification {
	width:100vw;
	height:40px;
	line-height:40px;
	text-align: center;
	color:white;
	background-color: #bc0000;
	position:fixed;
	top:0;
	left:0;
	font-size:1.2em;
	font-weight:bold;

	a {
		color:white;
	}
}


/* the main container for the page */
.container {
	width:80%;
	max-width:1200px;
	background-color: white;

	/* center the page */
	margin: 0 auto 0 auto;

	/* transition for mobile */
	transition:width 0.5s ease;

	/* flex options */
	display:flex;
	flex-direction:column;

	@media screen and (max-width: $mobile_width) {
		width:100%;
		padding-top: 0;
	}
}

.main-container {
	display:flex;
	flex-direction:column;
	padding:0 10px 0 10px;

	.footer {
		width:100%;
		color:grey;
		text-align: center;
		margin: 30px 0px 20px 0px;
	}

	@media screen and (max-width: $mobile_width) {
		width:100%;
		padding: 0;
	}
}

.the-end {
	font-size: 1.25em;
	color:grey;
	text-align: center;
	height:200px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.titlecard {
	display:flex;
	justify-content: flex-end;

	padding: 2px 5px 2px 5px;

	border:1px solid transparent;
	&:hover { border:1px solid rgba(0,0,0,0.25); }

	.title {
		color:black;
		text-decoration: none;
		margin-right: auto;
	}

	.category {
		width:120px;
		color:grey;
	}

	.date-source {
		flex-shrink: 0;
		&, a { color:grey; }
	}

	@include fade-in(0.2s,0.1s);

	@media screen and (max-width: $mobile_width) {
		flex-direction: column;
		margin-bottom:10px;
		.category { display:none; }
		.title {
			font-size:1.25em;
		}
		.date-source {
			margin-left:auto;
		}
	}
}

.about {
	background-color: white;

	.title, .content {
		width:80%;
		margin: 0 auto 0 auto;
	}

	.title {
		font-size:2em;
	}

}

.tooltip {
	background-color: white;
	border:1px solid grey;
	padding:5px;
	position:absolute;

	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
	font-size:0.7em;
	color:#4f4f4f;

	@include pop-in(0.2s,0.0s);
}

/* -----------------------------------------------------------------------------
	MENU TEST */

.menu {
	display:flex;
	font-size:0.8em;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding:0 10px 0 10px;
	height:40px;
	background-color: #456990;
	margin-bottom:10px;

	font-weight:bold;
	color:white;

	.sub-menu {
		position:relative;

		.drop-down-menu {
			display:none;
			width:200px;
			font-weight:normal;
			left:0;
			text-align: left;
			border:1px solid black;
			background-color:white;
			color:black;
			box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
			z-index:1;
		}

	}

	.active>.expand-me {
		position:absolute;
		display:flex;
		flex-direction: column;
	}

	.active {

	}

	.sources {
		margin-right:20px;
	}

	.categories {
		margin-right:auto;
	}

	.option-item {
		padding:5px 10px 5px 10px;
		cursor:pointer;
		line-height: normal;
		border-right:3px solid lightgrey;

		&>input[type=checkbox] {
			display:none;
		}
	}

	.mark {
		background-color: #f0f0f0;
		border-right:3px solid #0d930f;
	}

	.search, .annotate {
		font-size:inherit;
		border:none;
		padding:5px;
		margin-right:10px;
		border-radius:1px;
		background-color: transparent;
		border: 1px solid transparent;
		border-bottom: 1px solid rgba(0,0,0,0.5);
		transition:background-color 0.25s ease-out, border 0.25s ease-out;

		font-weight:bold;
		color:white;

		&:focus {
			color:black;
			background-color: white;
			border: 1px solid rgba(0,0,0,0.80);
			border-bottom: 1px solid rgba(0,0,0,0.80);
		}

		@media screen and (max-width: $mobile_width) {
			width:90%;
			margin: 0 auto 0 auto;
		}
	}

	.annotate {
		@media screen and (max-width: $mobile_width) {
			margin-top:5px;
		}
	}

	.submit {
		font-size:inherit;
		background-color:transparent;
		border:none;

		/* to stop safari from trying to style my buttons */
		-webkit-appearance:none;
		-webkit-border-radius:none;
				border-radius:none;

	}

	.menu-btn {
		padding: 0 5px 0 5px;
		height:100%;
		text-align: center;
		line-height:40px;

		color:white;
		font-weight:bold;
		cursor:pointer;
		user-select:none;
		&:hover {
			background-color: #537eac;
		}

		@media screen and (max-width: $mobile_width) {
			width:90%;
			margin: 0 auto 0 auto;
			padding-left:0;
			padding-right:0;
		}
	}

	@media screen and (max-width: $mobile_width) {
		flex-direction: column;
		height:auto;
	}
}

/* 	MENU TEST
------------------------------------------------------------------------------*/

.tooltip-bottom {
	margin-top: 45px;
	margin-left: -50px;
	@media screen and (max-width: $mobile_width) {
		margin-top: 70px;
		margin-left: -180px;
	}
}

.tooltip-left {
	margin-top: 45px;
	margin-left: -180px;
}



/* animations */
@keyframes fade-enter {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes pop-enter {
	0%		{ opacity:0; transform: scale(0.2); }
	80%		{ opacity:1; transform: scale(1.1); }
	100%	{ opacity:1; transform: scale(1); }
}
