
body {
	padding:0;
	margin:0;
	font-family: -apple-system,
			 BlinkMacSystemFont,
			 "Segoe UI",
			 Roboto,
			 Oxygen-Sans,
			 Ubuntu,
			 Cantarell,
			 "Open Sans",
			 "Helvetica Neue",
			 sans-serif;
	background-color: #faf8f6;
}


/* the main container for the page */
.container {
	width:80%;
	max-width:1200px;

	/* center the page */
	margin: 0 auto 0 auto;
	padding-top:20px;

	/* transition for mobile */
	transition:width 0.5s ease;

	/* flex options */
	display:flex;
	flex-direction:row;
}

/* styles for both block and main */
.sub-container {
	/* side bar buttons */
	display:flex;
	flex-direction:column;
}

.main-container {
	flex:4;
	padding:0 10px 0px 10px;
	border-right:1px solid lightgrey;
	border-left:1px solid lightgrey;
	margin-left: 5px;
}

.side-container {
	flex:1;
}

/* -------------------------------------------------------------------------- */
/* Sidebar */
.block {
	margin-bottom:10px;
}

.block>.header {
	color:black;
	font-size:1.5em;
	padding:5px 3px 5px 5px;
}

.block>.item {
	user-select:none;
	cursor:pointer;
	padding:5px 3px 5px 5px;
	display:flex;
	flex-direction:row-reverse;
	justify-content:flex-end;
	color:black;
	text-decoration:none;
	transition:background-color 0.1s ease;
}

.block>.item>.label-name {
	width:95%;
}

.block>.button {
	border:none;
	width:100%;
	text-align:left;
}

.block>.item, .option {
	user-select: none;
}

.block>.item:hover {
	background-color: white;
}

.search-bar, .result-bar, .category-bar {
	padding:5px 3px 5px 5px;
	text-align: center;
}

.search-input, .count-input, .category-input {
	padding:3px;
	border:1px solid lightgrey;
	width:95%;

	/* override category-input defaults */
	background-color: white;
	border-radius:none;
}

/* -------------------------------------------------------------------------- */
/* Checkbox Styles
*/
.checkable:not(:checked) + div::after, .checkable:checked + div::after {
	padding:0;
	margin:0;

	width: 20px;
    height: 20px;

	line-height: 18px;
	text-align: center;
	font-weight:bold;

	float:right;
	background-color: white;
	border-radius: 100px;
	border: 1px solid lightgrey;
}

.checkable:not(:checked) + div::after {
	content:'\2212';
	color:red;
}

.checkable:checked + div::after {
    content: '\002B';
    color: green;
}
/* -------------------------------------------------------------------------- */

.search-options>.option:hover {
	background-color: white;
}


.submit-button {
	height:35px;
	line-height:35px;
	background-color:#388E3C;
	color:white;
	width:100%;
	text-align:center;
	font-weight:bold;
	font-size:1.25em;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
	border:none;
	cursor:pointer;
	transition: all .2s ease-in-out;

	/* to stop safari from trying to style my buttons */
	-webkit-appearance:none;
	-webkit-border-radius:none;
			border-radius:none;
}

.submit-button:hover {
	background-color:#3ea043;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* Main Container */
.title-card {
	border-radius:3px;
	padding:10px;
	background-color: white;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.20);
	margin-bottom:10px;
}

.title {
	display:block;
	color:black;
	font-size: 1.25em;
	padding:5px;
	border:1px dotted transparent;
	text-decoration:none;
}

.title:hover {
	border:1px dotted grey;
}

.information {
	padding:5px;
	display:flex;
	align-items: center;
	color:black;
	color:rgba(0,0,0,0.7);
}

.information a {
	color:black;
	color:rgba(0,0,0,0.7);
}

.title-card-label {
	font-weight:bold;
}

.information>div {
	flex:1;
	font-size: 0.8em;
	padding:3px;
}

.information>.author {
	flex:3;
}

.information>.date {
	flex:2;
}


/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* About Page */
.about {
	background-color: white;
}

.about-title, .about-content {
	width:80%;
	margin: 0 auto 0 auto;
}

.about-title {
	font-size:2em;
}

.about-footer {
	display:flex;
	flex-direction:column;
	align-items:flex-end;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* Footer */
.footer {
	width:100%;
	color:grey;
	text-align: center;
	margin: 30px 0px 20px 0px;
}

/* -------------------------------------------------------------------------- */
/* NoScript */
.noscript-notification {
	width:100vw;
	height:40px;
	line-height:40px;
	text-align: center;
	color:white;
	background-color: #bc0000;
	position:fixed;
	top:0;
	left:0;
	font-size:1.2em;
	font-weight:bold;
}

.noscript-notification>a {
	color:white;
}

/* Mobile CSS Styles */
@media screen and (max-width: 680px) {
	.title-card>.information {
		flex-wrap:wrap;
	}
}

@media screen and (max-width: 500px) {
	.container {
		width:100%;
		flex-direction:column;
	}
	.side-container, .main-container {
		width:90%;
		margin:0 auto 0 auto;
		border:none;
	}
	.search-input, .count-input, .category-input {
		min-width:10px;
	}
	.article-title {
		word-wrap:break-word;
	}
}
@media screen and (max-width: 275px) {
	.search-input {
		width:20px;
	}
}
