/* mixins */
@mixin fade-in($time,$delay) {
	opacity:0;
	animation: fade-enter $time ease-out $delay 1 normal forwards;
}

@mixin pop-in( $time, $delay ){
	opacity:0;
	transform: scale(0.2);

	animation: pop-enter $time ease-out $delay 1 forwards;
}

@font-face {
    font-family: 'Open Sans';
	src:url('/static/font/sans/opensans-regular.woff2') format('woff2'),
		url('/static/font/sans/opensans-regular.woff') format('woff'),
    	url('/static/font/sans/opensans-regular.ttf') format('truetype'),
    	url('/static/font/sans/opensans-regular.eot') format('embedded-opentype');
}

/* mobile breakpoints */
$mobile_width:500px;

body {
	padding:0;
	margin:0;
	font-family:'Open Sans',
				-apple-system,
			 	BlinkMacSystemFont,
			 	"Segoe UI",
			 	Roboto,
			 	Oxygen-Sans,
			 	Ubuntu,
			 	Cantarell,
			 	"Helvetica Neue",
			 	sans-serif;

	background-color: #faf8f6;
}

.noscript-notification {
	width:100vw;
	height:40px;
	line-height:40px;
	text-align: center;
	color:white;
	background-color: #bc0000;
	position:fixed;
	top:0;
	left:0;
	font-size:1.2em;
	font-weight:bold;

	a {
		color:white;
	}
}


/* the main container for the page */
.container {
	width:80%;
	max-width:1200px;

	/* center the page */
	margin: 0 auto 0 auto;

	/* transition for mobile */
	transition:width 0.5s ease;

	/* flex options */
	display:flex;
	flex-direction:column;

	.mobile-menu {
		display:none;

		@media screen and (max-width: $mobile_width) {
			position:fixed;
			display:flex;
			z-index:1;

			height:8vh;
			width:100%;
			background-color: white;
			margin:0 auto 0 auto;

			div {
				flex:1;
				height:100%;
				user-select:none;

				color:grey;
				font-size:1.25em;

				display:flex;
				justify-content: center;
				align-items: center;
				background-color: #faf8f6;
				border-bottom:2px solid lightgrey;
			}

			.current {
				color:black;
				border-bottom:2px solid black;
			}
		}
	}

	@media screen and (max-width: $mobile_width) {
		width:100%;
		flex-direction:column;
		overflow:hidden;
		padding-top: 0;
	}
}

.main-container {
	display:flex;
	flex-direction:column;
	padding:0 10px 0 10px;

	.footer {
		width:100%;
		color:grey;
		text-align: center;
		margin: 30px 0px 20px 0px;
	}

	@media screen and (max-width: $mobile_width) {
		width:90%;
		margin:0 auto 0 auto;
		border:none;
		margin-top:10px;
		padding-top: 10vh;
	}
}

.the-end {
	font-size: 1.25em;
	color:grey;
	text-align: center;
	height:200px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.titlecard {
	border-radius:3px;
	padding:10px;
	background-color: white;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.20);
	margin-bottom:10px;
	@include fade-in(0.2s,0.1s);

	.title-link {
		display:block;
		color:black;
		font-size: 1.25em;
		padding:5px;
		border:1px dotted transparent;
		text-decoration:none;

		&:hover {
			border:1px solid lightgrey;
		}
	}

	.information {
		font-size:0.75em;
		table-layout: fixed;
		width:100%;

		$text_color: grey;

		td {
			color:$text_color;
			background-color: #f2f2f2;
			padding:5px 10px 5px 10px;
		}

		a {
			color:$text_color;
		}

		@media screen and (max-width: $mobile_width) {
			display:none;
		}
	}
}

.about {
	background-color: white;

	.title, .content {
		width:80%;
		margin: 0 auto 0 auto;
	}

	.title {
		font-size:2em;
	}

}

.tooltip {
	background-color: white;
	border:1px solid grey;
	padding:5px;
	position:absolute;

	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
	font-size:0.7em;
	color:#4f4f4f;

	@include pop-in(0.2s,0.0s);
}

/* -----------------------------------------------------------------------------
	MENU TEST */

.menu {
	display:flex;
	font-size:0.8em;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding:10px;

	.sub-menu {
		position:relative;
		cursor:pointer;
		user-select:none;
		padding:5px 10px 5px 10px;

		.drop-down-menu {
			display:none;
			width:200px;
			left:0;
			margin:4px 0 0 -1px;
			border:1px solid black;
			background-color:white;
			box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
			z-index:1;
		}

	}

	.active>.expand-me {
		position:absolute;
		display:flex;
		flex-direction: column;
	}

	.active {
		background-color: white;
	}

	.sources {
		margin-right:20px;
	}

	.categories {
		margin-right:auto;
	}

	.option-item {
		padding:5px 10px 5px 10px;
		cursor:pointer;
		border-right:3px solid lightgrey;

		&>input[type=checkbox] {
			display:none;
		}
	}

	.mark {
		background-color: #f0f0f0;
		border-right:3px solid #0d930f;
	}

	.search {
		font-size:inherit;
		border:none;
		padding:5px;
		margin-right:10px;
		border-radius:1px;
		background-color: transparent;
		border: 1px solid transparent;
		border-bottom: 1px solid rgba(0,0,0,0.25);
		transition:background-color 0.25s ease-out, border 0.25s ease-out;

		&:focus {
			background-color: white;
			border: 1px solid rgba(0,0,0,0.1);
			border-bottom: 1px solid rgba(0,0,0,0.80);
		}
	}

	.submit {
		font-size:inherit;
		cursor:pointer;
		padding:5px 10px 5px 10px;
		background-color:transparent;
		border:none;

		/* to stop safari from trying to style my buttons */
		-webkit-appearance:none;
		-webkit-border-radius:none;
				border-radius:none;

	}
}

/* 	MENU TEST
------------------------------------------------------------------------------*/





/* animations */
@keyframes fade-enter {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes pop-enter {
	0%		{ opacity:0; transform: scale(0.2); }
	80%		{ opacity:1; transform: scale(1.1); }
	100%	{ opacity:1; transform: scale(1); }
}
