<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta Declarations -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- End Meta Declarations -->

		<title>404 Not Found</title>

		<!-- External Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/static/css/errors.css" />
		<!-- End External Stylesheets -->

	</head>
	<body>
		<div class="container">
			<div class="error-banner">404</div>
			<div class="error-msg">
				We couldn't find that page for you.<br/>Sorry :(
			</div>
			<div class="error-footer">
				(send an email to <a href="mailto:michaelhouse@gmx.us">michaelhouse@gmx.us</a> so we can fix it!)
			</div>
		</div>
	</body>
</html>
