<!doctype html>
<html>
	<head>
		<title>newsbin</title>
		<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	</head>
	<body>

		<div id="sources_menu">
			<form id="search_form" method="post">
				<div id="sources">
					{% if all_checked %}
						<label><input type="checkbox" name="all" onClick="setAll(this)" value="True" checked /> all</label>
					{% else %}
						<label><input type="checkbox" name="all" onClick="setAll(this)" value="True" /> all</label>
					{% endif %}

					{% for source in all_sources %}
						{% if source in checked %}
							<label><input type="checkbox" name="{{ source }}" value="True" checked /> {{ source }}</label>
						{% else %}
							<label><input type="checkbox" name="{{ source }}" value="True" /> {{ source }}</label>
						{% endif %}
					{% endfor %}

				</div>
				<div id="options">
					{% if results %}
						<label>results: <input name="results" type="text" placeholder="100" value={{results}}></label>
					{% else %}
						<label>results: <input name="results" type="text" placeholder="100"></label>
					{% endif %}
				</div>
				<div id="search">
					{% if results %}
						<label>search: <input name="search" type="text" placeholder="plain or regex" value={{search}}></label>
					{% else %}
						<label>search: <input name="search" type="text" placeholder="plain or regex"></label>
					{% endif %}
				</div>
				<input type="submit" value="apply">
			</form>
		</div>

		<div id="article_titles">
			{% for article in articles %}
				<div class="title" onclick="setContent( {{ article.id }} )">
					{{article.source}}: {{ article.title }}
				</div>
			{% endfor %}
		</div>

		<div id="article_contents" class="unexpanded">
			{% for article in articles %}
				<div class="content" id={{article.id}}>
					{{article.source|upper}}: {{ article.publish_date }}<br/>
					<a href="{{article.url}}" target="_blank">original</a><br/>
					{{ article.content|safe }}
				</div>
			{% endfor %}
		<div>

		<script>
			//Globals:

			// we add an event listener to watch the scroll event
			// and calculate the distance from the top. If the distance
			// is greater than shrinkOn, we change the style of the
			// article box so that it fills the whole screen on the y-axis.
			window.addEventListener('scroll', function(e){
				var distanceY = window.pageYOffset || document.documentElement.scrollTop,
					shrinkOn = 200,
					article = document.querySelector("#article_contents");
				if (distanceY > shrinkOn) {
					article.className = "expanded";
				} else {
					if (article.className=="expanded") {
						article.className = "unexpanded";
					}
				}
			});

			var annotations = document.getElementsByTagName('x-annotate');
			for(var i = 0; i < annotations.length; i++){
				annotations[i].addEventListener( 'click', showSummary );
			}


			// -----------------------------------------------------------------

			// -----------------------------------------------------------------
			// this is the last article that we made visible
			// we keep it around so that we can hide it again
			var previous_article;
			var previous_summary;

			//Functions:

			// setContent
			//		When a title is selected, setContent hides the previous_article
			//		article and displays the new one. They're all present in
			//		the page at all times, though.
			function setContent( id ){
				var content = document.getElementById(id);
				if(previous_article){
					previous_article.style.display = 'none';
				}
				content.style.display = 'block';
				previous_article = content;
			}

			// setAll
			//		When the 'all' checkbox is selected, this function updates all
			//		the other checkboxes.
			function setAll( source ){
				checkboxes = document.querySelectorAll('#search_form input[type="checkbox"]');
				for(var i=0, n=checkboxes.length;i<n;i++){
		  			checkboxes[i].checked = source.checked;
				}
			}

			// showSummary
			//		When a summarize element is clicked (a detected name)
			//		we open a popup with the info for that person.
			function showSummary( event ){
				var caller = this;
				var name = caller.getAttribute('name');
				var url = '/summarize?name=' + name;
				var request = new XMLHttpRequest();

				var new_summary = document.createElement('div');
				new_summary.className = 'summary';
				new_summary.innerHTML = '<div class="loader"></div>'
				caller.parentNode.insertBefore( new_summary, caller );

				if(previous_summary){
					previous_summary.parentNode.removeChild( previous_summary );
				}
				previous_summary = new_summary;

				request.onreadystatechange = function() {
					if (request.readyState == 4 && request.status == 200){
						new_summary.innerHTML = request.responseText;
					}
				}
				request.open("GET", url, true); // true for asynchronous
				request.send(null);
			}

			function remove( element ){
				element.parentNode.removeChild(element);
			}

		</script>
	</body>
</html>
