<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta Declarations -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- End Meta Declarations -->

		<title>newsbin</title>

		<!-- External Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
		<!-- End External Stylesheets -->

	</head>
	<body>
		<noscript class="noscript-notification">
			some site functionality won't be available without <a href="http://www.enable-javascript.com/" target="_blank">javascript</a> enabled.
			<style>
				.container {
					margin-top:40px;
				}
			</style>
		</noscript>

		<div class="container">

			<div class="mobile-menu" id="js-mobile-menu">
				<div :class="{ current: menu }" v-on:click="toggle">
					Menu
				</div>
				<div :class="{ current: article }" v-on:click="toggle">
					Article
				</div>
			</div>

			<form action="/" method="get" class="sub-container side-container" :class="{ open: active }" id="js-sidebar-form">
				<div class="block sources">
					<div class="header">Sources</div>
					<x-option class="options-item" label="All"	v-on:toggled="set_all" v-on:saveme="save"></x-option>
					<x-option class="options-item" label="CNN" v-on:toggled="update" v-on:saveme="save"></x-option>
					<x-option class="options-item" label="CNBC" v-on:toggled="update" v-on:saveme="save"></x-option>
					<x-option class="options-item" label="Fox News" v-on:toggled="update" v-on:saveme="save"></x-option>
					<x-option class="options-item" label="New York Times" v-on:toggled="update" v-on:saveme="save"></x-option>
					<x-option class="options-item" label="Reuters" v-on:toggled="update" v-on:saveme="save"></x-option>
					<x-option class="options-item" label="Washington Post" v-on:toggled="update" v-on:saveme="save"></x-option>
				</div>

				<div class="block">
					<div class="header">Categories</div>
					<div class ="category-bar">
						<select name="category" class="category-input" v-model="category">
							<option value="all">All</option>
							{% for option in categories %}
							<option value="{{ option|lower }}">{{ option }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="block">
					<div class="header">Search</div>
					<div class="search-bar">
						<input class="search-input" type="text" name="search" placeholder="Search" v-model="search">
					</div>
					<div class="result-bar">
						<input class="count-input" type="number" placeholder="Results (max 1000)" name="count" v-model="count">
					</div>
				</div>

				<div class="block">
					<input class="search-submit" type="submit" value="Apply">
				</div>

				<div class="block">
					<div class="header">Navigation</div>
					<a href="/" class="item">Main</a>
					<a href="https://github.com/mjhouse/newsbin" target="_blank" class="item">Github</a>
				</div>

			</form>

			<div class="sub-container main-container about">
				<div class="title">newsbin</div>
				<div class="content">
					<p>
						newsbin pulls articles from hundreds of rss feeds provided by
						major news outlets, and fetches the articles into a single,
						combined stream. The feed is as up-to-date as it can be without
						spamming requests at the providers, which works out to about a
						10 minute delay.
					</p>
					<p>
						You can uses the tools in the left side to fetch the news
						that interests you- by source, category or keyword.
					</p>
					<p>
						While reading an article, you'll notice that some of the names
						and places are clickable. If you click on them, you'll get a
						brief summary of the topic without leaving the article.
						These are annotations.
						If you want to add more, just copy and
						paste a word or phrase (one that has an article on wikipedia)
						into the box at the top-left of the page and click 'Add'. Newsbin
						will fetch the information and it will be highlighted in every
						article from then on.
					</p>
					<p>
						If you see an annotation that's wrong, you can blacklist it
						for the current article by copying the text into the submission
						box and clicking 'Remove.'
					</p>
					<p>
						If you want to see what features are currently under development,
						you can take a look at open issues on github, and if you want
						to contribute, you can send me an email.
					</p>
					<p class="footer">
						<a href="https://github.com/mjhouse/newsbin/issues" target="_blank">Github Issues</a>
						<a href="mailto:michaelhouse@gmx.us">michaelhouse@gmx.us</a>
					</p>
					<p style="text-align:right;">
						-blackstampede
					</p>
				</div>
				<div class="footer">
					newsbin &copy; <span id="js-year"></span> Michael House
				</div>
			</div>
		</div>
		<!-- External Javascript -->
		<script src="/static/js/vue.js"></script>
		<script src="/static/js/index.js"></script>
		<!-- End External Javascript -->
	</body>
</html>
