<!DOCTYPE html>
<html>
	<head>
		<title>newsbin - about</title>
		<link rel="stylesheet" type="text/css" href="/static/css/about.min.css" />
	</head>
	<body>
		<div id="content">
			<a href="/" id="back_link"><div id="back">Back</div></a>
			<h1>welcome to newbin</h1>
			<p>
				This site fetches articles from a lot of different news sources, detects proper names in them, and tries to
				annotate the articles with information about the people mentioned in them. What this means is that you can
				click on names in the news and get a summary and other information about them.
			</p>
			<p>
				If you see an annotation that is wrong, scroll to the bottom of the article and click the red minus-sign next
				to it. If you think one is missing, highlight it in the text, and click the green plus-sign to add it.
			</p>
			<p>
				You can select your sources, the number of results to return or search titles and content with plain string
				or <a href="http://pythex.org/" target="_blank">regex</a> searches from the front page. You can also view a
				log that dumps notifications from the engine as it fetches and parses articles. Enjoy.
			</p>
			<p style="text-align:right;font-size:1.2em;">
				- blackstampede
			</p>
			<div id="footer">
				<div id="footer_block">
					<a href="http://www.python.org" target="_blank" ><img src="/static/img/python.png" /></a>
					<a href="http://flask.pocoo.org/" target="_blank" ><img src="/static/img/flask.png" /></a>
					<a href="https://github.com/" target="_blank" ><img src="/static/img/github.jpg" /></a>
				</div>
			</div>
			<div id="tagline">pay attention. things are happening</div>
		</div>
	</body>
</html>
