<html lang="en">
	<head>
		<!-- Meta Declarations -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- End Meta Declarations -->

		<title>newsbin - {{ article.title }}</title>

		<!-- External Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/article.css" />
		<!-- End External Stylesheets -->

	</head>
	<body>
		<noscript class="noscript-notification">
			some site functionality won't be available without <a href="http://www.enable-javascript.com/" target="_blank">javascript</a> enabled.
			<style>
				.container {
					margin-top:40px;
				}
			</style>
		</noscript>

		<div id="js-modal-annotation" class="modal-annotation" >
			<div class="modal-close" ref="close" onClick="modal.close()">Close</div>
			<div class="modal-title" ref="title"></div>
			<div class="modal-image-wrapper" ref="image"></div>
			<div class="modal-data-table" ref="data"></div>
			<div class="modal-content" ref="content"></div>
			<div class="modal-links" ref="links"></div>
		</div>

		<div class="container">

			<div class="mobile-menu" id="js-mobile-menu">
				<div run="open_menu">
					Menu
				</div>
				<div run="close_menu" class="current">
					Article
				</div>
			</div>

			<div class="sub-container side-container" id="js-menu">

				<form action="/article/{{ article.id }}" method="post" class="block annotation-block" autocomplete="off">
					<div class="header">Annotate</div>
					<input class="annotation-input" type="text" name="annotation" id="js-add-selection">
					<input type="submit" class="item button" name="add" value="Add">
					<input type="submit" class="item button" name="remove" value="Remove">
				</form>

				<div class="block">
					<div class="header">Blacklist</div>
					<div class="blacklist{{ ' fadelist' if not blacklist }}">{{ blacklist if blacklist else 'nothing here' }}</div>
				</div>

				<!-- only displays on mobile -->
				<div class="block information-block">
					<div class="header">Information</div>
					<table>
						<tr>
							<td>Source:</td>
							<td><a href="{{ article.link }}" target="_blank">{{ article.source }}</a></td>
						</tr>
						<tr>
							<td>Author(s):</td>
							<td>{{ article.author if article.author else 'unknown' }}</td>
						</tr>
						<tr>
							<td>Fetched:</td>
							<td>{{ article.fetched.strftime('%Y-%m-%d') }}</td></tr>
					</table>
				</div>

				<div class="block">
					<div class="header">Navigation</div>
					<a href="/" class="item">Main</a>
					<a href="/about" class="item">About</a>
					<a href="https://github.com/mjhouse/newsbin" target="_blank" class="item">Github</a>
				</div>

			</div>

			<div class="sub-container main-container article">
				<div class="article-title">{{ article.title }}</div>
				<table class="information">
					<tr>
						<td>original: <a href="{{ article.link }}" target="_blank">link</a></td>
						<td>author: {{ article.author }}</td>
						<td>source: {{ article.source }}</td>
						<td>fetched: {{ article.fetched.strftime('%Y-%m-%d') }}</td>
					</tr>
				</table>
				<div class="article-content" id="js-capture-selection">
					{{ article.content|safe }}
				</div>
				<table class="information">
					<tr>
						<td>original: <a href="{{ article.link }}" target="_blank">link</a></td>
						<td>id: {{ article.id }}</td>
						<td></td>
						<td></td>
					</tr>
				</table>
				<div class="footer">
					newsbin &copy; <span id="js-year"></span>  Michael House
				</div>
			</div>
		</div>
		<!-- External Javascript -->
		<script src="/static/js/article.js"></script>
		<script src="/static/js/analytics.js"></script>
		<!-- End External Javascript -->
	</body>
</html>
