<!DOCTYPE html>
<html>
	<head>
		<title>newsbin</title>
		<link rel="stylesheet" type="text/css" href="/static/css/article.css" />
	</head>
	<body>
		<div id="container">

			<div id="notification"></div>

			<div id="article" pk="{{ aritcle.id }}">

				<div id="header">
					<span id="title">{{ article.title }}</span>
					<span id="author">AUTHOR: {% if article.author %}{{ article.author }}{% else %}None{% endif %}</span>
					<span id="publish_date">PUBLISHED: {{ article.publish_date }}</span>
				</div>
				<div id="content">
					{{article.content|safe}}
				</div>
				<div id="people" string="{{ article.people }}"></div>
				<div id="footer">
					<span class="footer_items" id="id">ID: {{ article.id }}</span>
					<span class="footer_items" id="source">SOURCE: {{ article.source }}</span>
					<span class="footer_items" id="link">ORIGINAL: <a href="{{ article.link }}" target="_blank">link</a></span>
				</div>
			</div>

			<div id="annotation"></div>

		</div>

		<script src="/static/js/extend.js"></script>
		<script src="/static/js/interface.js"></script>
		<script src="/static/js/article.js"></script>
	</body>
</html>
