<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta Declarations -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- End Meta Declarations -->

		<title>newsbin</title>

		<!-- External Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
		<!-- End External Stylesheets -->

	</head>
	<body>
		<noscript class="noscript-notification">
			some site functionality won't be available without <a href="http://www.enable-javascript.com/" target="_blank">javascript</a> enabled.
			<style>
				.container {
					margin-top:40px;
				}
			</style>
		</noscript>
		<div class="container">

			<div class="mobile-menu">
				<div id="js-tab-search">
					Search
				</div>
				<div id="js-tab-results" class="current">
					Results
				</div>
			</div>

			<form action="/" method="get" class="sub-container side-container" id="js-sidebar-form">
				<div class="block sources">
					<div class="header">Sources</div>
					<label for="all-check" class="item">
						<input id="all-check" type="checkbox" name="all" checked>
						<div class="label-name">All</div>
					</label>
					<label for="cnn-check" class="item">
						<input id="cnn-check" type="checkbox" name="cnn" checked>
						<div class="label-name">CNN</div>
					</label>
					<label for="cnbc-check" class="item">
						<input id="cnbc-check" type="checkbox" name="cnbc" checked>
						<div class="label-name">CNBC</div>
					</label>
					<label for="foxnews-check" class="item">
						<input id="foxnews-check" type="checkbox" name="foxnews" checked>
						<div class="label-name">Fox News</div>
					</label>
					<label for="nytimes-check" class="item">
						<input id="nytimes-check" type="checkbox" name="nytimes" checked>
						<div class="label-name">New York Times</div>
					</label>
					<label for="reuters-check" class="item">
						<input id="reuters-check" type="checkbox" name="reuters" checked>
						<div class="label-name">Reuters</div>
					</label>
					<label for="washingtonpost-check" class="item">
						<input id="washingtonpost-check" type="checkbox" name="washingtonpost" checked>
						<div class="label-name">Washington Post</div>
					</label>
				</div>

				<div class="block">
					<div class="header">Categories</div>
					<div class ="category-bar">
						<select name="category" class="category-input" id="js-category-select">
							<option value="all"></option>
							{% for option in categories %}
							<option value="{{ option|lower }}">{{ option }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="block">
					<div class="header">Search</div>
					<div class="search-bar">
						<input class="search-input" id="js-search-input" type="text" name="search" placeholder="Search">
					</div>
					<div class="result-bar">
						<input class="count-input" type="number" placeholder="Results (max 1000)" name="count" id="js-number-input">
					</div>
				</div>

				<div class="block">
					<input type="submit" value="Apply" class="submit-button" id="js-submit-form">
				</div>

				<div class="block">
					<div class="header">Navigation</div>
					<a href="/about" class="item">About</a>
					<a href="https://github.com/mjhouse/newsbin" target="_blank" class="item">Github</a>
				</div>

			</form>

			<div class="sub-container main-container">
				{% for article in articles %}
				<div class="title-card">
					<a class="title" href="/article/{{ article.id }}">{{ article.title }}</a>
					<div class="information">
						<div class="link"><span class="title-card-label">original: </span><a href="{{ article.link }}" target="_blank">link</a></div>
						<div class="author"><span class="title-card-label">author(s): </span>{{ article.author }}</div>
						<div class="source"><span class="title-card-label">source: </span>{{ article.source }}</div>
						<div class="date">
							<span class="title-card-label">fetched: </span>
							<span class="js-localize-date" iso="{{ article.fetched.isoformat() }}">{{ article.fetched.strftime('%Y-%m-%d %H:%M:%S %p') }} UTC</span>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="footer">
					newsbin &copy; {{ date.year }} Michael House
				</div>
			</div>

		</div>

		<!-- External Javascript -->
		<script src="/static/js/index.js"></script>
		<!-- End External Javascript -->
	</body>
</html>
