<!DOCTYPE html>
<html>
	<head>
		<title>newsbin</title>
		<!-- <link rel="stylesheet" type="text/css" href="/static/css/newsbin.min.css" /> -->
		<link rel="stylesheet" type="text/css" href="/static/css/base/newsbin.css" />
	</head>
	<body>

		<form id="options-container">

			<!--
			<div class="block">
				<span>
				</span>
			</div>&nbsp;
			-->

			<div class="block">
				<span>
					<div id="sources">
						Sources<br/>
						<div id="choices" style="left:0;">
							<input id="all_check" type="checkbox" name="all" include="source_check" /> All<br/>
							<div><span>C</span></div>
							<input class="source_check" type="checkbox" name="cnn" /> CNN<br/>
							<input class="source_check" type="checkbox" name="cnbc" /> CNBC<br/>
							<div><span>F</span></div>
							<input class="source_check" type="checkbox" name="foxnews" /> Fox News<br/>
							<div><span>N</span></div>
							<input class="source_check" type="checkbox" name="nytimes" /> New York Times<br/>
							<div><span>R</span></div>
							<input class="source_check" type="checkbox" name="reuters" /> Reuters<br/>
							<div><span>W</span></div>
							<input class="source_check" type="checkbox" name="washingtonpost" /> Washington Post<br/>
						</div>
					</div>
				</span>
			</div>&nbsp;

			<div class="block">
				<span>
					<div id="results">
						Number of results (max 1000): <input id="count" type="number" name="results" min="1" max="1000" value="100" />
					</div>
				</span>
			</div>&nbsp;

			<div class="block">
				<span>
					<div id="searches">
						<input id="search" type="text" name="search" placeholder="Search" />
						&nbsp;<input class="regex_check" id="reg_check" exclude="regex_check" type="checkbox" name="regex" value="true" /> regex
						&nbsp;<input class="regex_check" id="pla_check" exclude="regex_check" type="checkbox" name="plain" value="true" checked/> plain
					</div>
				</span>
			</div>&nbsp;

			<div class="block">
				<span>
					<div id="information">
						<a href="/about">about</a> |
						<a href="/log" target="_blank">log</a>
					</div>
				</span>
			</div>&nbsp;

			<div class="block" id="message_window">
				<span id="notification">
					
				</span>
			</div>&nbsp;

			<div class="block">
				<span>
					<input id='submit' type="submit" value="Apply" />
				</span>
			</div>&nbsp;

		</form>

		<div id="container">

			<div id="title-container">

				{% for article in articles %}
					<div class="title" pk="{{ article.id }}">
						{{article.source}}: {{ article.title }}
					</div>
				{% endfor %}

			</div>

			<div id="article-container">
				<div id="article">
					<div id="header">
						<span id="title"></span><br/>
						<span id="author"></span>
						<span id="publish_date"></span>
					</div>
					<div id="content">
					</div>
					<div id="people">
					</div>
					<div id="footer">
						<span class="footer_items" id="id"></span>
						<span class="footer_items" id="source"></span>
						<span class="footer_items" id="link"></span>
					</div>
				</div>
			</div>

		</div>

		<!-- <script src="/static/js/newsbin.min.js"></script> -->
		<script src="/static/js/base/extend.js"></script>
		<script src="/static/js/base/interface.js"></script>
		<script src="/static/js/base/newsbin.js"></script>
		<script src="/static/js/base/register.js"></script>
	</body>
</html>
