<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta Declarations -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- End Meta Declarations -->

		<title>newsbin</title>

		<!-- External Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
		<!-- End External Stylesheets -->

		<style>
			.fade-enter-active, .fade-leave-active {
				transition: opacity .5s
			}
			.fade-enter, .fade-leave-to {
				opacity: 0
			}
		</style>
	</head>
	<body>
		<noscript class="noscript-notification">
			some site functionality won't be available without <a href="http://www.enable-javascript.com/" target="_blank">javascript</a> enabled.
			<style>
				.container {
					margin-top:40px;
				}
			</style>
		</noscript>
		<div class="container">

			<div class="mobile-menu" id="js-mobile-menu">
				<div :class="{ current: menu }" v-on:click="toggle">
					Menu
				</div>
				<div :class="{ current: article }" v-on:click="toggle">
					Article
				</div>
			</div>

			<form action="/" method="get" class="sub-container side-container" :class="{ open: active }" id="js-sidebar-form">
				<div class="block sources" id="js-fit-height">
					<div class="header">Sources</div>
					<x-option
						class="options-item"
						v-for="box in checkboxes"
						:key="box.name"
						:name="box.name"
						:label="box.label"
						v-on:toggled="notify">
					</x-option>
				</div>

				<div class="block">
					<div class="header">Categories</div>
					<div class ="category-bar">
						<select name="category" class="category-input" v-model="category">
							<option value="all">All</option>
							{% for option in categories %}
							<option value="{{ option|lower }}">{{ option }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="block">
					<div class="header">Search</div>
					<div class="search-bar">
						<input class="search-input" type="text" name="search" placeholder="Search" v-model="search">
					</div>
					<div class="result-bar">
						<input class="count-input" type="number" placeholder="Results (max 1000)" name="count" v-model="count">
					</div>
				</div>

				<div class="block">
					<input class="search-submit" type="submit" value="Apply">
				</div>

				<div class="block">
					<div class="header">Navigation</div>
					<a href="/about" class="item">About</a>
					<a href="https://github.com/mjhouse/newsbin" target="_blank" class="item">Github</a>
				</div>

			</form>

			<div class="sub-container main-container" id="js-titlecard-list">
				{% for article in articles %}
					<x-titlecard
						title="{{ article.title }}"
						link="/article/{{ article.id }}"
						original="{{ article.link }}"
						author="{{ article.author }}"
						source="{{ article.source }}"
						date="{{ article.fetched.strftime('%Y-%m-%d') }}">
					</x-titlecard>
				{% endfor %}
				<div class="footer">
					newsbin &copy; <span id="js-year"></span> Michael House
				</div>
			</div>

		</div>

		<!-- External Javascript -->
		<script src="/static/js/vue.js"></script>
		<script src="/static/js/index.js"></script>
		<!-- End External Javascript -->
	</body>
</html>
