			<form action="/" method="get" class="sub-container side-container" id="js-menu" role="form">
				<div class="block sources" id="js-fit-height" role="menu" aria-label="news source selection">
					<div class="header" tooltip="filter news by the source">Sources</div>
					<label id="all_label" for="all_check" class="option-item" role="menuitem">All<input type="checkbox" id="all_check" name="all" checked></label>
					<label id="cnn_label" for="cnn_check" class="option-item" role="menuitem">CNN<input type="checkbox" id="cnn_check" name="cnn" checked></label>
					<label id="cnbc_label" for="cnbc_check" class="option-item" role="menuitem">CNBC<input type="checkbox" id="cnbc_check" name="cnbc" checked></label>
					<label id="foxnews_label" for="foxnews_check" class="option-item" role="menuitem">Fox News<input type="checkbox" id="foxnews_check" name="foxnews" checked></label>
					<label id="nytimes_label" for="nytimes_check" class="option-item" role="menuitem">New York Times<input type="checkbox" id="nytimes_check" name="nytimes" checked></label>
					<label id="reuters_label" for="reuters_check" class="option-item" role="menuitem">Reuters<input type="checkbox" id="reuters_check" name="reuters" checked></label>
					<label id="washingtonpost_label" for="washingtonpost_check" class="option-item" role="menuitem">Washington Post<input type="checkbox" id="washingtonpost_check" name="washpo" checked></label>
				</div>

				<div class="block">
					<div class="header">Categories</div>
					<div class ="category-bar">
						<select name="category" class="category-input" id="category-input" tooltip="filter news by category" aria-label="news category selection">
							<option value="all">All</option>
							{% for option in categories %}
							<option value="{{ option|lower }}">{{ option|capitalize }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="block">
					<div class="header">Search</div>
					<div class="search-bar">
						<input class="search-input" id="search-input" type="text" name="search" placeholder="Search" tooltip="search for keywords in the title or article" role="search">
					</div>
				</div>

				<div class="block">
					<input class="search-submit" type="submit" value="Apply">
				</div>

			</form>
